/* Rules that will apply to all screen sizes below, will be applied so that small screens are designed first. */
/*First body background, font color and family. */
body {
    background-color: peru;
    color: bisque;
    font-family:"Arial";
}
/*Different background and font color for main section that includes paragraph. */
main {
    background-color: saddlebrown;
    color: gainsboro;
}
/* A different set of rules for large screens or screens whose minimum width is 750px */
@media screen and (min-width: 750px)  {
    /*Different body background color, font color large screens.*/
    body {
        background-color: maroon;
        color: moccasin;
    }
    /*A new header font family for large screens*/
    header {
        font-family:"Georgia";
    }
}
